<!DOCTYPE html>
<html lang="es-co">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	    <meta name="viewport" content="width=device-width, initial-scale = 1.0">

        <title> SERVTES Soluciones Efectivas </title>
        <!--Script jQuery 11-->
        <script src="~/Scripts/jquery-1.11.0.min.js"></script>
        <!--Script bootstrap-->
        <script src="~/bootstrap/js/bootstrap.min.js"></script>
        <!--Estilos bootstrap-->
        <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <!--Estilos personalizados-->
        <link href="~/Estilos/Plantilla.css" rel="stylesheet" />
    </head>
<body>
    <div id="container">

        <h2>Inicio</h2>
        




    </div>

    
</body>
    
</html>